<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>knight_attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.536184,0.0502793}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{304,358}</string>
			<key>spriteSourceSize</key>
			<string>{304,358}</string>
			<key>textureRect</key>
			<string>{{262,0},{304,358}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.26327,0.04}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{471,350}</string>
			<key>spriteSourceSize</key>
			<string>{471,350}</string>
			<key>textureRect</key>
			<string>{{0,1069},{471,350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.273707,0.079096}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{464,354}</string>
			<key>spriteSourceSize</key>
			<string>{464,354}</string>
			<key>textureRect</key>
			<string>{{1354,715},{464,354}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.280778,0.0833333}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{463,348}</string>
			<key>spriteSourceSize</key>
			<string>{463,348}</string>
			<key>textureRect</key>
			<string>{{891,715},{463,348}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.292035,0.0434783}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{452,322}</string>
			<key>spriteSourceSize</key>
			<string>{452,322}</string>
			<key>textureRect</key>
			<string>{{439,715},{452,322}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.298405,0.0408805}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{439,318}</string>
			<key>spriteSourceSize</key>
			<string>{439,318}</string>
			<key>textureRect</key>
			<string>{{0,715},{439,318}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.329268,0.040625}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{410,320}</string>
			<key>spriteSourceSize</key>
			<string>{410,320}</string>
			<key>textureRect</key>
			<string>{{1501,366},{410,320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.325459,0.0462963}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{381,324}</string>
			<key>spriteSourceSize</key>
			<string>{381,324}</string>
			<key>textureRect</key>
			<string>{{345,366},{381,324}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.359897,0.0422961}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{389,331}</string>
			<key>spriteSourceSize</key>
			<string>{389,331}</string>
			<key>textureRect</key>
			<string>{{1112,366},{389,331}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.380829,0.0442478}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{386,339}</string>
			<key>spriteSourceSize</key>
			<string>{386,339}</string>
			<key>textureRect</key>
			<string>{{726,366},{386,339}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.692754,0.0401146}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{345,349}</string>
			<key>spriteSourceSize</key>
			<string>{345,349}</string>
			<key>textureRect</key>
			<string>{{0,366},{345,349}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.713415,0.0527778}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{328,360}</string>
			<key>spriteSourceSize</key>
			<string>{328,360}</string>
			<key>textureRect</key>
			<string>{{874,0},{328,360}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.705357,0.0584958}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{336,359}</string>
			<key>spriteSourceSize</key>
			<string>{336,359}</string>
			<key>textureRect</key>
			<string>{{1531,0},{336,359}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.711246,0.0662983}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{329,362}</string>
			<key>spriteSourceSize</key>
			<string>{329,362}</string>
			<key>textureRect</key>
			<string>{{1202,0},{329,362}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.662338,0.0457143}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{308,350}</string>
			<key>spriteSourceSize</key>
			<string>{308,350}</string>
			<key>textureRect</key>
			<string>{{566,0},{308,350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.530534,0.0437158}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{262,366}</string>
			<key>spriteSourceSize</key>
			<string>{262,366}</string>
			<key>textureRect</key>
			<string>{{0,0},{262,366}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.227915,0.0591398}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{566,372}</string>
			<key>spriteSourceSize</key>
			<string>{566,372}</string>
			<key>textureRect</key>
			<string>{{957,1069},{566,372}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_attack_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.286008,0.0547945}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{486,365}</string>
			<key>spriteSourceSize</key>
			<string>{486,365}</string>
			<key>textureRect</key>
			<string>{{471,1069},{486,365}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>knight_attack.png</string>
		<key>size</key>
		<string>{1911,1441}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a5d8a5ff928345d8a0e500aacdf96e6d:6adad4702490816869f6b3a7620400d4:14fefa16fa52683c469e4055fca9988c$</string>
		<key>textureFileName</key>
		<string>knight_attack.png</string>
	</dict>
</dict>
</plist>
