<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>knight_stand_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{0,0},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{436,722},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{872,722},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{1308,722},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{0,1083},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{436,1083},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{872,1083},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{436,0},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{872,0},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{1308,0},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{0,361},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{436,361},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{872,361},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{1308,361},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_stand_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.41,0.07}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{436,361}</string>
			<key>spriteSourceSize</key>
			<string>{436,361}</string>
			<key>textureRect</key>
			<string>{{0,722},{436,361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>knight_stand.png</string>
		<key>size</key>
		<string>{1744,1444}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:71f940603036081932e66082f6755659:f500b81004a3a1ddca84544523383604:68981dae9dace2cae5382f3c1e172cf2$</string>
		<key>textureFileName</key>
		<string>knight_stand.png</string>
	</dict>
</dict>
</plist>
