<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>knight_move_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.372881,0.100529}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{413,378}</string>
			<key>spriteSourceSize</key>
			<string>{413,378}</string>
			<key>textureRect</key>
			<string>{{1580,0},{413,378}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.39886,0.126492}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{351,419}</string>
			<key>spriteSourceSize</key>
			<string>{351,419}</string>
			<key>textureRect</key>
			<string>{{835,780},{351,419}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.423888,0.110837}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{427,406}</string>
			<key>spriteSourceSize</key>
			<string>{427,406}</string>
			<key>textureRect</key>
			<string>{{408,780},{427,406}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.459184,0.106329}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{392,395}</string>
			<key>spriteSourceSize</key>
			<string>{392,395}</string>
			<key>textureRect</key>
			<string>{{368,378},{392,395}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.426934,0.0721925}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{349,374}</string>
			<key>spriteSourceSize</key>
			<string>{349,374}</string>
			<key>textureRect</key>
			<string>{{824,0},{349,374}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.42663,0.0885417}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{368,384}</string>
			<key>spriteSourceSize</key>
			<string>{368,384}</string>
			<key>textureRect</key>
			<string>{{0,378},{368,384}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.387255,0.0990099}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{408,404}</string>
			<key>spriteSourceSize</key>
			<string>{408,404}</string>
			<key>textureRect</key>
			<string>{{0,780},{408,404}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.32619,0.0460705}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{420,369}</string>
			<key>spriteSourceSize</key>
			<string>{420,369}</string>
			<key>textureRect</key>
			<string>{{0,0},{420,369}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.399582,0.0930788}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{478,419}</string>
			<key>spriteSourceSize</key>
			<string>{478,419}</string>
			<key>textureRect</key>
			<string>{{1186,780},{478,419}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.383133,0.0708861}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{415,395}</string>
			<key>spriteSourceSize</key>
			<string>{415,395}</string>
			<key>textureRect</key>
			<string>{{760,378},{415,395}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.375921,0.0930851}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{407,376}</string>
			<key>spriteSourceSize</key>
			<string>{407,376}</string>
			<key>textureRect</key>
			<string>{{1173,0},{407,376}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.410891,0.105405}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{404,370}</string>
			<key>spriteSourceSize</key>
			<string>{404,370}</string>
			<key>textureRect</key>
			<string>{{420,0},{404,370}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.414758,0.134328}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{393,402}</string>
			<key>spriteSourceSize</key>
			<string>{393,402}</string>
			<key>textureRect</key>
			<string>{{1547,378},{393,402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>knight_move_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.38172,0.1}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{372,400}</string>
			<key>spriteSourceSize</key>
			<string>{372,400}</string>
			<key>textureRect</key>
			<string>{{1175,378},{372,400}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>knight_move.png</string>
		<key>size</key>
		<string>{1993,1199}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:8fb42e24d5cd5fd9217b6a5e08237298:306b78b4c15fc5186ac329b12bdf0f1c:9a2a6980c7cd114aac9435ca4c4060a0$</string>
		<key>textureFileName</key>
		<string>knight_move.png</string>
	</dict>
</dict>
</plist>
